@import '../assets/mixin/page.scss';


.main {
    @include flex_function(column, flex-start, center, 0);
    margin: auto;
}

.backgraund_img {
    @include img_function(url('../../app/assets/bg.svg'), cover, 100%, 800px, 0, 0);
}

.title_text {
    @include flex_function(column, flex-start, center, 0);

    h1 {
        @include text_function(normal, 400, 100px, Playfair Display, #2C2F24, center);
        max-width: 667px;
        margin-top: 171px;
    }

    p {
        @include text_function(normal, 400, 20px, DM Sans, #2C2F24, center);
        max-width: 537px;
        margin-top: 32px;
    }
}

.title_btns {
    @include flex_function(row, center, center, 10px);
    margin: 40px 0;

    .btn_book {
        @include text_function(normal, 700, 16px, DM Sans, #FFFFFF, center);
        @include border_function(none, #AD343E, 118px, 20px 32px);


    }

    .btn_menu {
        @include text_function(normal, 700, 16px, DM Sans, #2C2F24, center);
        @include border_function(1.5px solid #2C2F24, #FFF, 118px, 20px 32px);
    }
}

.btn_book:hover,
.btn_menu:hover {
    transform: scale(1.1);
}

.blockMeun_color {
    background-color: #FFFFFF;
}

.menu_content {
    @include flex_function(column, flex-start, center, 0);
    margin: 92px 0;
}

.menu_content_title {
    @include text_function(normal, 500, 55px, Playfair Display, #2C2F24, center);
    margin-bottom: 64px;
}

.menu_cards_wrapper {
    @include flex_function(row, center, flex-start, 24px);
    flex-wrap: wrap;
}

.menu_card {
    @include border_function(2px solid #DBDFD0, #FFFFFF, 12px, 40px 33px);
    max-width: 306px;
    height: 375px;
    text-align: center;
}

.icon_breakfast {
    @include img_function(url('../../app/assets/icon\ \(1\).svg'), contain, 100px, 100px, auto, 0);
}

.icon_mainDishes {
    @include img_function(url('../../app/assets/icon\ \(2\).svg'), contain, 100px, 100px, auto, 0);
}

.icon_drinks {
    @include img_function(url('../../app/assets/icon\ \(3\).svg'), contain, 100px, 100px, auto, 0);
}

.icon_desserts {
    @include img_function(url('../../app/assets/icon\ \(4\).svg'), contain, 100px, 100px, auto, 0);
}

.menu_text {
    h1 {
        @include text_function(normal, 700, 24px, DM Sans, #2C2F24, center);
        margin-top: 30px;
    }

    p {
        @include text_function(normal, 400, 16px, DM Sans, #414536, center);
        margin-top: 15px;
        margin-bottom: 30px;
    }
}


.link_card {
    @include text_function(normal, 700, 16px, DM Sans, #AD343E, center);
    font-family: DM Sans;

    &:hover {
        text-decoration: underline;
    }

}

.services_color {
    background-color: #F9F9F7;
    width: 100%;
}

.services_content {
    max-width: 1296px;
    margin: 120px auto;
}

.services_title {
    @include text_function(normal, 500, 55px, Playfair Display, #2C2F24, center);
    max-width: 675px;
    margin:0 auto 64px;
}

.services_cards_wrapper {
    @include flex_function(row, center, flex-start, 24px);
    flex-wrap: wrap;
}

.service_card {
    @include flex_function(column, center, flex-start, 0);
    max-width: 306px;
}

.img_caterings {
    @include img_function(url('../../app/assets/kebab-set-table\ 1.svg'), contain, 306px, 320px, 0, 12px);
}

.img_birthdays {
    @include img_function(url('../../app/assets/charming-female-blowing-candles-birthday-cake-after-making-her-wish-party\ 1.svg'), contain, 306px, 320px, 0, 12px);
}

.img_weddings {
    @include img_function(url('../../app/assets/happy-man-wife-sunny-day\ 1.svg'), contain, 306px, 320px, 0, 12px);
}

.img_events {
    @include img_function(url('../../app/assets/group-friends-eating-restaurant\ 1.svg'), contain, 306px, 320px, 0, 12px);
}

.service_text {
    h1 {
        @include text_function(normal, 700, 24px, DM Sans, #2C2F24, left);
        margin-top: 30px;
        margin-bottom: 15px;

    }

    p {
        @include text_function(normal, 400, 16px, DM Sans, #414536, left);
    }

}

@media screen and (max-width:600px){
    .title_text h1{
        font-size: 80px;
    } 

    .services_title{
        font-size: 45px;
    }
   
}
