@import '../../../src/assets/mixin/page.scss';


.grey_container {
    background-color: #474747;

}

.wrapper {
    @include flex-function(row, space-between, center, 0);
    max-width: 1293px;
    margin: auto;
    padding: 10px 0;
}

.messengers {
    @include flex-function(row, flex-start, center, 25px);
    margin-right: 1.5rem;
}

.phone,
.mail {
    @include flex-function(row, flex-start, flex-start, 8px);
}

.phone p,
.mail a {
    @include text_function (normal, 400, 16px, DM Sans, #F9F9F7, left);

}

.mail a:hover {
    text-decoration: underline;
}

.imgPhone {
    @include img_function (url('../../components/Header/assets/phone.svg'), contain, 18px, 18px, 0, 0);
}

.imgMail {
    @include img_function (url('../../components/Header/assets/Icon.svg'), contain, 18px, 18px, 0, 0);
}

.icons {
    @include flex-function(row, flex-start, flex-start, 8px);
}

.iconBlock {
    @include flex-function(row, center, center, 0);
    @include border_function (none, #F9F9F71F, 50px, 0);
    width: 27px;
    height: 27px;

    &:hover {
        background-color: #f9f9f751;
    }
}


.twit {
    @include img_function (url('../../components/Header/assets/twitter.svg'), contain, 10px, 8px, 0, 0);

}

.face {
    @include img_function (url('../../components/Header/assets/facebook.svg'), contain, 6px, 12px, 0, 0);

}

.inst {
    @include img_function (url('../../components/Header/assets/instagram.svg'), contain, 13px, 13px, 0, 0);
}


.git {
    @include img_function (url('../../components/Header/assets/github.svg'), contain, 13px, 12px, 0, 0);
}


.white_container {
    background-color: #F9F9F7;
}

.logo {
    @include flex-function(row, flex-start, center, 8px);

    .food {
        @include img_function (url('../../components/Header/assets/japanese-food.svg'), contain, 56px, 56px, 0, 0);

    }

    h1 {
        @include text_function (italic, 600, 42px, Playfair Display, #474747, left);
    }
}


.navig_btn {
    @include flex-function(row, flex-start, flex-start, 40px);


    p {
        padding: 4px 16px;

        a {
            font: 500 16px DM Sans;
            color: #2C2F24;
        }

        &:hover {
            background-color: #DBDFD0;
            border-radius: 34px;
            transform: scale(1.2);
        }
    }
}

.btn_book {
    @include text_function (normal, 700, 16px, DM Sans, #182226, center);
    @include border_function (1.5px solid #2C2F24, #F9F9F7, 118px, 12px 24px);
}

.btn_book:hover {
    transform: scale(1.1);
}



@media screen and (max-width:600px) {

    .phone p,
    .mail a {
        font-size: 14px;

    }

    .navig_btn {
        gap: 0;
    }

    .wrapper {
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }

}