@import '../../../assets/mixin/page.scss';

.wrrapper_color {
    background-color: #f9f9f7;
}

.wrrapper_item {
    @include flex_function (row, start, flex-start, 90px);
    width: 1239px;
    margin: auto;
    padding: 85px 0;
}


.img_egg {
    @include img_function (url('../../app/menu/assets/eggs2.svg'), cover, 599px, 566px, 0, 12px);
}

.img_pizza {
    @include img_function (url('../../app/menu/assets/pizza2.svg'), cover, 599px, 566px, 0, 12px);
}

.img_cocktail {
    @include img_function (url('../../app/menu/assets/cocktail.svg'), cover, 599px, 566px, 0, 12px);
    background-position: center;
}

.img_cake {
    @include img_function (url('../../app/menu/assets/cake.svg'), cover, 599px, 566px, 0, 12px);
    background-position: center;
}

.img_lemonade {
    @include img_function (url('../../app/menu/assets/lemonade.svg'), cover, 599px, 566px, 0, 12px);
    background-position: center;
}

.img_icecream {
    @include img_function (url('../../app/menu/assets/icecream.svg'), cover, 599px, 566px, 0, 12px);
    background-position: center;
}

.img_burger {
    @include img_function (url('../../app/menu/assets/burger2.svg'), cover, 599px, 566px, 0, 12px);
    background-position: center;
}

.img_waffles {
    @include img_function (url('../../app/menu/assets/waffles2.svg'), cover, 599px, 566px, 0, 12px);
    background-position: center;
}


.text_item {
    @include flex_function (column, start, flex-start, 24px);
    width: 600px;
    margin: auto;

    h1 {
        @include text_function (normal, 500, 55px, Playfair Display, #2C2F24, left);
    }

    h2 {
        @include text_function (normal, 500, 18px, DM Sans, #2C2F24, left);
    }

    p {
        @include text_function (normal, 400, 16px, DM Sans, #414536, left);
    }
}