@import '../../../assets/mixin/page.scss';

.wrrapper_color {
    background-color: #f9f9f7;
}

.wrrapper_item {
    @include flex_function (row, center, flex-start, 90px);
    max-width: 1239px;
    margin: auto;
    padding: 85px 0;
}


.img_egg {
    @include img_function (url('../../app/menu/assets/eggs2.svg'), cover, 599px, 566px, 0, 12px);
}

.img_pizza {
    @include img_function (url('../../app/menu/assets/pizza2.svg'), cover, 599px, 566px, 0, 12px);
}

.img_cocktail {
    @include img_function (url('../../app/menu/assets/cocktail.svg'), cover, 599px, 566px, 0, 12px);
    background-position: center;
}

.img_cake {
    @include img_function (url('../../app/menu/assets/cake.svg'), cover, 599px, 566px, 0, 12px);
    background-position: center;
}

.img_lemonade {
    @include img_function (url('../../app/menu/assets/lemonade.svg'), cover, 599px, 566px, 0, 12px);
    background-position: center;
}

.img_icecream {
    @include img_function (url('../../app/menu/assets/icecream.svg'), cover, 599px, 566px, 0, 12px);
    background-position: center;
}

.img_burger {
    @include img_function (url('../../app/menu/assets/burger2.svg'), cover, 599px, 566px, 0, 12px);
    background-position: center;
}

.img_waffles {
    @include img_function (url('../../app/menu/assets/waffles2.svg'), cover, 599px, 566px, 0, 12px);
    background-position: center;
}


.text_item {
    @include flex_function (column, flex-start, flex-start, 24px);
    width: 600px;
    margin: auto;

    h1 {
        @include text_function (normal, 500, 55px, Playfair Display, #2C2F24, left);
    }

    h2 {
        @include text_function (normal, 500, 18px, DM Sans, #2C2F24, left);
    }

    p {
        @include text_function (normal, 400, 16px, DM Sans, #414536, left);
    }
}

.buttons_wrapper {
    @include flex_function (row, flex-start, center, 8px);

    .count_button {
        @include border_function(1px solid #403F3D, #FFF, 100px, 8px 16px 8px 8px);
        @include flex_function (row, flex-start, center, 0);
        width: 81px;
        height: 46px;

        &:hover {
            @include border_function(1px solid #403F3D, #403F3D, 100px, 8px 16px 8px 8px);
            transform: scale(1.1);
            box-shadow: 5px 5px 10px #403f3dd0;

            & .count {
                color: #FFF;
            }

            & .size {
                background-color: #FFF;
                color: #403F3D;
            }
        }

        .size {
            @include border_function(1px solid #403F3D, #403F3D, 100px, 0);
            width: 30px;
            height: 30px;
            @include flex_function (row, center, center, 0);
            @include text_function (normal, 700, 16px, DM Sans, #FFFFFF, center);


        }

        .count {
            @include text_function (normal, 700, 16px, DM Sans, #403F3D, center);
            margin-left: 8px;
        }
    }

}

.total {
    @include flex_function (column, space-between, center, 20px);

    .price {
        @include flex_function (row, space-between, flex-start, 0);
        width: 100%;

        p {
            @include text_function (normal, 700, 24px, DM Sans, #403F3D, left);
        }

    }

    .line {
        background-color: #403F3D;
        width: 100%;
        height: 1px;
    }

    .text_description {
        @include flex_function (row, flex-start, space-between, 0);
        margin-bottom: 20px;

        .img_info {
            @include img_function (url('../../app/menu/assets/info.svg'), contain, 18px, 18px, 0, 0);
            margin-right: 12px;
        }

        p {
            @include text_function (normal, 700, 10px, DM Sans, #403F3D, justify);
            width: 410px;
        }
    }

    .add {
        @include border_function(1px solid #403F3D, #FFFFFF, 100px, 10px 78px);
        @include text_function (normal, 700, 16px, DM Sans, #403F3D, center);
        width: 438px;

        &:hover {
            transform: scale(1.1);
            box-shadow: 5px 5px 10px #403f3d92;

        }
    }

}


@media screen and (max-width:1000px){
    .wrrapper_item {
    flex-wrap: wrap;
    } 

    .text_item {
        align-items: center;
    }
}